.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topLeft {
  margin-left: 10px;
}


.topRight {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 6px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 12px;
  margin-left: 10px;
}

.arrowdown {
  margin-top: 8px;
}

@media screen and (max-width:480px) {
  .topRight {
   margin-left: 600px;
   
  }

  .topLeft {
    display: none;
  }
}
